<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" charset="utf-8" />
    <style>

    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0; }

    div.controller {
        z-index: 100;
        position: relative;
        background-color: #ffffff;
        width: 200px;
        padding-top: 10px;
        text-align: center;
        height: 100%;
        font: 12px sans-serif;
    }

    div.controller table {
        width: 100%;
    }

    #controller-left {
        float: left;
    }

    #controller-right {
        float: right;
    }

    #map-canvas {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 0;
    }

    .filter {
        display: inline-block;
        height: 151px;
        margin-bottom: 10px;
    }

    .reset {
      padding-left: 1em;
      font-size: smaller;
      color: #ccc;
    }

    .background.bar {
      fill: #ccc;
    }

    .foreground.bar {
      fill: steelblue;
    }

    .axis path, .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .axis text {
      font: 10px sans-serif;
    }

    .brush rect.extent {
      fill: steelblue;
      fill-opacity: .125;
    }

    .brush .resize path {
      fill: #eee;
      stroke: #666;
    }
    </style>
    <title>Divvy</title>
</head>
<body>
    <div id="controller-left" class="controller">
        <table>
            <tr>
                <td>
                    <div id="gender-filter" class="filter">
                        <div class="filter-title">Gender</div>
                    </div>
                </td>
                <td>
                    <div id="age-filter" class="filter">
                        <div class="filter-title">Age</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="month-filter" class="filter">
                        <div class="filter-title">Month</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="dow-filter" class="filter">
                        <div class="filter-title">Day of Week</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="hod-filter" class="filter">
                        <div class="filter-title">Hour of Day</div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div id="controller-right" class="controller">
        <div id="questions">
            <ul>
                <li>Question holder</li>
                <li>Question holder</li>
                <li>Question holder</li>
            </ul>
        </div>
        <table>
            <tr>
                <td colspan="2">
                    <div id="duration-filter" class="filter">
                        <div class="filter-title">Trip Duration</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="distance-filter" class="filter">
                        <div class="filter-title">Bike Distance</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="speed-filter" class="filter">
                        <div class="filter-title">Speed</div>
                    </div>
                </td>
            </tr>
        </table>
        <div id="sample_size">
            <table>
                <tr>
                    <td>Pick-up</td>
                    <td><span id="num_sel_pickups">-</span> / <span id="num_total_pickups">-</span></td>
                </tr>
                <tr>
                    <td>Drop-off</td>
                    <td><span id="num_sel_dropoffs">-</span> / <span id="num_total_dropoffs">-</span></td>
                </tr>
            </table>
        </div>
        <div id="legend">
            <table>
                <tr>
                    <td>Red circle</td>
                    <td>Pick-up > Drop-off</td>
                </tr>
                <tr>
                    <td>Blue circle</td>
                    <td>Pick-up < Drop-off</td>
                </tr>
            </table>
        </div>
    </div>

    <div id="map-canvas">
    </div>

    <script src="/static/crossfilter.v1.min.js"></script>
    <script src="/static/d3.v3.min.js"></script>
    <script src="/static/queue.v1.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzF5hLaaoTuF_n801biub80XfUWyxAJds&sensor=false"></script>
    <script>

        <!-- Google map -->
        var map;
        var circles=[];
        function initialize() {
            var mapOptions = {
                center: new google.maps.LatLng(41.8819, -87.6278),
                zoom: 14,
                disableDefaultUI: true
                };
            map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        }

        google.maps.event.addDomListener(window, 'load', initialize);

        <!-- load data -->
        var pickups = [];
        var dropoffs = [];
        var stations = [];

        queue()
            .defer(d3.csv, "/static/pickups.csv")
            .defer(d3.csv, "/static/dropoffs.csv")
            .defer(d3.csv, "/static/stations.csv")
            .await(function(error, pickups, dropoffs, stations) { startRendering(pickups, dropoffs, stations); });

        function startRendering(pickups, dropoffs, stations) {
            <!-- initialize variables -->
            xWidth = 15;

            <!-- crossfilter -->
            var pickup = crossfilter(pickups),
                pAll = pickup.groupAll(),
                pGender = pickup.dimension(function(d) { return d.gender; }),
                pGenders = pGender.group(),
                pAge = pickup.dimension(function(d) { return d.age; }),
                pAges = pAge.group(),
                pMonth = pickup.dimension(function(d) { return d.month; }),
                pMonths = pMonth.group(),
                pDow = pickup.dimension(function(d) { return d.dow; }),
                pDows = pDow.group(),
                pHod = pickup.dimension(function(d) { return d.hod; }),
                pHods = pHod.group(),

                pDistance = pickup.dimension(function(d) { return d.distance; }),
                pDistances = pDistance.group(),
                pDuration = pickup.dimension(function(d) { return d.duration; }),
                pDurations = pDuration.group(),
                pSpeed = pickup.dimension(function(d) { return d.speed; }),
                pSpeeds = pSpeed.group(),

                pStations = pickup.dimension(function(d) { return d.station_id; }).group();

            var dropoff = crossfilter(dropoffs),
                dAll = dropoff.groupAll(),
                dGender = dropoff.dimension(function(d) { return d.gender; }),
                dAge = dropoff.dimension(function(d) { return d.age; }),
                dMonth = dropoff.dimension(function(d) { return d.month; }),
                dDow = dropoff.dimension(function(d) { return d.dow; }),
                dHod = dropoff.dimension(function(d) { return d.hod; }),

                dDistance = dropoff.dimension(function(d) { return d.distance; }),
                dDuration = dropoff.dimension(function(d) { return d.duration; }),
                dSpeed = dropoff.dimension(function(d) { return d.speed; }),

                dStations = dropoff.dimension(function(d) { return d.station_id; }).group();

            d3.select("#num_total_pickups").text(d3.format(",d")(pickup.size()));
            d3.select("#num_total_dropoffs").text(d3.format(",d")(dropoff.size()));

            <!-- create filterCharts -->
            var filters = [
                filterChart()
                    .dimension(pGender)
                    .dimension2(dGender)
                    .group(pGenders)
                    .round(Math.floor)
                    .barId("gender")
                    .tickDisplay(["M", "F"])
                    .x(d3.scale.linear()
                        .domain([0, 2])
                        .rangeRound([0, xWidth * 2])
                    ),

                filterChart()
                    .dimension(pAge)
                    .dimension2(dAge)
                    .group(pAges)
                    .barId("age")
                    .tickDisplay(["10s", "20s", "30s", "40s", "50s", "60s", ">=70"])
                    .x(d3.scale.linear()
                        .domain([0, 7])
                        .rangeRound([0, xWidth * 7])
                    ),

                filterChart()
                    .dimension(pMonth)
                    .dimension2(dMonth)
                    .group(pMonths)
                    .barId("month")
                    .tickDisplay(["J", "J", "A"])
                    .x(d3.scale.linear()
                        .domain([0, 3])
                        .rangeRound([0, xWidth * 3])
                    ),

                filterChart()
                    .dimension(pDow)
                    .dimension2(dDow)
                    .group(pDows)
                    .barId("dow")
                    .tickDisplay(["M", "T", "W", "T", "F", "S", "S"])
                    .x(d3.scale.linear()
                        .domain([0, 7])
                        .rangeRound([0, xWidth * 7])
                    ),

                filterChart()
                    .dimension(pHod)
                    .dimension2(dHod)
                    .group(pHods)
                    .barId("hod")
                    .x(d3.scale.linear()
                        .domain([0, 8])
                        .rangeRound([0, xWidth * 8])
                    ),

                filterChart()
                    .dimension(pDuration)
                    .dimension2(dDuration)
                    .group(pDurations)
                    .barId("duration")
                    .x(d3.scale.linear()
                        .domain([0, 7])
                        .rangeRound([0, xWidth * 7])
                    ),

                filterChart()
                    .dimension(pDistance)
                    .dimension2(dDistance)
                    .group(pDistances)
                    .barId("distance")
                    .x(d3.scale.linear()
                        .domain([0, 7])
                        .rangeRound([0, xWidth * 7])
                    ),

                filterChart()
                    .dimension(pSpeed)
                    .dimension(dSpeed)
                    .group(pSpeeds)
                    .barId("speed")
                    .x(d3.scale.linear()
                        .domain([0, 7])
                        .rangeRound([0, xWidth * 7])
                    )
            ];

            var filter = d3.selectAll(".filter")
                .data(filters)
                .each(function(d) { d.on("brushend", renderAll); });

            function render(method) {
                d3.select(this).call(method);
            }

            function renderAll() {
                filter.each(render);

                d3.select("#num_sel_pickups").text(d3.format(",d")(pAll.value()));
                d3.select("#num_sel_dropoffs").text(d3.format(",d")(dAll.value()));

                circles.map(function(d) {d.setMap(null);});
                var diff, fColor;
                stations.map(function(d) {
                    diff = _find_diff(d.station_id);
                    if (diff > 0) {
                        fColor = '#880000 ';
                    } else {
                        fColor = '#333399';
                    }

                    circles.push(new google.maps.Circle({
                        radius: Math.abs(diff),
                        center: new google.maps.LatLng(d.latitude, d.longitude),
                        map: map,
                        fillColor: fColor,
                        fillOpacity: 0.4,
                        strokeOpacity: 0.0
                    }));
                });
            }

            function _find_diff(station_id) {
                var pByStations = pStations.all(), dByStations = dStations.all();
                var pLength = pByStations.length, dLength = dByStations.length;
                var pValue, dValue;
                for (var i = 0; i < Math.max(pLength, dLength); i++) {
                    if (i < pLength && !pValue) {
                        if (pByStations[i].key == station_id) {
                            pValue = pByStations[i].value;
                        }
                    }
                    if (i < dLength && !dValue) {
                        if (dByStations[i].key == station_id) {
                            dValue = dByStations[i].value;
                        }
                    }
                    if (pValue && dValue) {
                        break;
                    }
                }
                if (!pValue) {
                    pValue = 0;
                }
                if (!dValue) {
                    dValue = 0;
                }
                return pValue - dValue;
            }

            renderAll();

            <!-- window functions -->
            window.filter = function(conds) {
                conds.forEach(function(d, i) { filters[i].filter(d); });
                renderAll();
            };

            window.reset = function(i) {
                filters[i].filter(null);
                renderAll();
            };

            <!-- filterChart -->
            function filterChart() {
                if (!filterChart.id) filterChart.id = 0;

                var id = filterChart.id++,
                    margin = {top: 10, right: 10, bottom: 40, left: 10},
                    x,
                    y = d3.scale.linear().range([100, 0]),
                    axis = d3.svg.axis().orient("bottom"),
                    brush = d3.svg.brush(),
                    brushDirty,
                    dimension,
                    dimension2,
                    group,
                    round = Math.floor,
                    barId,
                    tickDisplay;

                function chart(div) {
                    var width = x.range()[1], height = y.range()[0];

                    y.domain([0, group.top(1)[0].value])

                    div.each(function() {
                        var div = d3.select(this), g = div.select("g");

                        if (g.empty()) {
                            div.select(".filter-title").append("a")
                                .attr("href", "javascript:reset(" + id + ")")
                                .attr("class", "reset")
                                .text("reset")
                                .style("display", "none");

                            g = div.append("svg")
                                .attr("width", width + margin.left + margin.right)
                                .attr("height", height + margin.top + margin.bottom)
                                .append("g")
                                .attr("transform", "translate(" + margin.left + ", " + margin.top + ")");

                            g.append("clipPath")
                                .attr("id", "clip-" + id)
                                .append("rect")
                                .attr("width", width)
                                .attr("height", height);

                            g.selectAll(".bar")
                                .data(["background", "foreground"])
                                .enter().append("path")
                                .attr("class", function(d) { return d + " bar"; })
                                .attr("id", function(d) { return barId + "-" + d + "-bar"; })
                                .datum(group.all())

                            xAxisG = g.append("g")
                                .attr("class", "axis")
                                .attr("transform", "translate(0, " + height + ")")
                                .call(axis)
                                    .selectAll("text")
                                    .style("text-anchor", "end")
                                    .attr("transform", function(d) { return "translate(-4, 5) rotate(-90)"; });

                            g.selectAll(".foreground.bar")
                                .attr("clip-path", "url(#clip-" + id + ")");

                            // Initialize the brush component with pretty resize handles.
                            var gBrush = g.append("g").attr("class", "brush").call(brush);
                            gBrush.selectAll("rect").attr("height", height);
                            gBrush.selectAll(".resize").append("path").attr("d", resizePath);
                        }

                         // Only redraw the brush if set externally.
                        if (brushDirty) {
                            brushDirty = false;
                            g.selectAll(".brush").call(brush);
                            div.select(".filter-title a").style("display", brush.empty() ? "none" : null);
                            if (brush.empty()) {
                                g.selectAll("#clip-" + id + " rect")
                                .attr("x", 0)
                                .attr("width", width);
                            } else {
                                var extent = brush.extent();
                                g.selectAll("#clip-" + id + " rect")
                                .attr("x", x(extent[0]))
                                .attr("width", x(extent[1]) - x(extent[0]));
                            }
                        }

                        g.selectAll(".bar").attr("d", barPath);
                    });

                    function barPath(groups) {
                        var path = [],
                            i = -1,
                            n = groups.length,
                            d;
                        while (++i < n) {
                            d = groups[i];
                            path.push("M", x(d.key), ",", height, "V", y(d.value), "h" + (xWidth - 1) + "V", height);
                        }
                        return path.join("");
                    }

                    function resizePath(d) {
                        var e = +(d == "e"),
                            x = e ? 1 : -1,
                            y = height / 3;
                            return "M" + (.5 * x) + "," + y
                                + "A6,6 0 0 " + e + " " + (6.5 * x) + "," + (y + 6)
                                + "V" + (2 * y - 6)
                                + "A6,6 0 0 " + e + " " + (.5 * x) + "," + (2 * y)
                                + "Z"
                                + "M" + (2.5 * x) + "," + (y + 8)
                                + "V" + (2 * y - 8)
                                + "M" + (4.5 * x) + "," + (y + 8)
                                + "V" + (2 * y - 8);
                    }
                }

                brush.on("brushstart.chart", function() {
                    var div = d3.select(this.parentNode.parentNode.parentNode);
                    div.select(".filter-title a").style("display", null);
                });

                brush.on("brush.chart", function() {
                    var g = d3.select(this.parentNode),
                    extent = brush.extent();
                    if (round) g.select(".brush")
                        .call(brush.extent(extent = extent.map(round)))
                        .selectAll(".resize")
                        .style("display", null);
                    g.select("#clip-" + id + " rect")
                        .attr("x", x(extent[0]))
                        .attr("width", x(extent[1]) - x(extent[0]));
                });

                brush.on("brushend.chart", function() {
                    if (brush.empty()) {
                    var div = d3.select(this.parentNode.parentNode.parentNode);
                        div.select(".filter-title a").style("display", "none");
                        div.select("#clip-" + id + " rect").attr("x", null).attr("width", "100%");
                    dimension.filterAll();
                    dimension2.filterAll();
                    } else {
                        dimension.filterRange(brush.extent());
                        dimension2.filterRange(brush.extent());
                    }
                });

                chart.dimension = function(_) {
                    if (!arguments.length) return dimension;
                    dimension = _;
                    return chart;
                }

                chart.dimension2 = function(_) {
                    if (!arguments.length) return dimension2;
                    dimension2 = _;
                    return chart;
                }

                chart.group = function(_) {
                    if (!arguments.length) return group;
                    group = _;
                    return chart;
                }

                chart.x = function(_) {
                    if (!arguments.length) return x;
                    x = _;
                    axis.scale(x);
                    brush.x(x);
                    return chart;
                }

                chart.barId = function(_) {
                    if (!arguments.length) return barId;
                    barId = _;
                    return chart;
                }

                chart.round = function(_) {
                    if (!arguments.length) return round;
                    round = _;
                    return chart;
                }

                chart.filter = function(_) {
                    if (_) {
                        brush.extent(_);
                        dimension.filterRange(_);
                        dimension2.filterRange(_);
                    } else {
                        brush.clear();
                        dimension.filterAll();
                        dimension2.filterAll();
                    }
                    brushDirty = true;
                    return chart;
                }

                chart.tickDisplay = function(_) {
                    if (!arguments.length) return tickDisplay;
                    tickDisplay = _;
                    axis.ticks(tickDisplay.length);
                    axis.tickFormat(function(d, i) { return tickDisplay[i]; });

                    return chart;
                }
                return d3.rebind(chart, brush, "on");
            }
        }
    </script>
</body>
</html>